menu "Memory Configuration"

config MBASE
  hex "Memory base address"
  default 0x80000000

config MSIZE
  hex "Memory size"
  default 0x8000000

config PC_RESET_OFFSET
  hex "Offset of reset vector from the base of memory"
  default 0

config MEM_RANDOM
  bool "enable mem init random"
  default y

endmenu #MEMORY